#**A2. Python Exercises**

Name: Kevin Eduardo PÃ©rez Contreras 

Student ID: 1896768 

Subject: Artificial Intelligence

Day & Hour: Tuesday N4-N6

1.- Develop an algorithm that can make the conversion from decimal to binary system (from 0 to 255).

In [73]:
def DecimalToBinary(number):
  if number>=1: # We first check if the number has a value greater or equal to 1
    DecimalToBinary(number//2) # We use recursivity so the print is done in the 
    # right order, else it would print backwards
  print(number%2, end='') # We divide by the modulus, since dividing by 2 only
  # gives values of 0 or 1

In [69]:
DecimalToBinary(0)

0

In [74]:
DecimalToBinary(255)

011111111

In [75]:
DecimalToBinary(24)

011000

In [77]:
DecimalToBinary(80)

01010000

In [78]:
DecimalToBinary(150)

010010110

2.- Math Pyramid: This algorithm will create a math pyramid from an initial list of integers. An example of the final result will look like this: 

initial list = [20, 5, 10, 8]

final result:  
              20, 5, 10, 8       
                25,15,18    
                   40,33    
                     73

In [305]:
def Pyramid(nolist): # We transform many times the length of the list to an 
# integer so we can use it more easily. However, this specific algorithm can only
# be used for lists of four integers due to its nature
  for i in range(int(len(nolist))):
    print(nolist[i], end=' ')
  print()
  for j in range(1, int(len(nolist))):
    print(int(nolist[j])+int(nolist[j-1]), end=' ')
  print()
  for k in range(2, int(len(nolist))):
    print(int(nolist[k])+2*int(nolist[k-1])+int(nolist[k-2]), end=' ')
  print()
  for l in range(3, int(len(nolist))):
    print(int(nolist[l])+3*int(nolist[l-1])+3*int(nolist[l-2])+int(nolist[l-3]), end=' ')

In [306]:
list=[20,5,10,8]

Pyramid(list)

20 5 10 8
25 15 18
40 33
73

In [307]:
list2=[15, 14, 17, 20]

Pyramid(list2)

15 14 17 20
29 31 37
60 68
128

In [308]:
list3=[1, 1, 1, 1]

Pyramid(list3)

1 1 1 1
2 2 2
4 4
8

In [309]:
list4=[100, 235, 12, 17]

Pyramid(list4)

100 235 12 17
335 247 29
582 276
858